.idea/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Virtual environment
.venv/

# Local environment variables
.env
.env.*

# Large datasets / monitoring data
data/monitoring/*.csv
data/reference/*.csv

# Generated monitoring reports
reports/*.png
reports/*.html
reports/*.json
reports/*.csv

# OS
.DS_Store
